<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand" id="headBrand">{{head_brand}}</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link {{link_active_kotisivu}}" href="/">Etusivu</a>
        <a class="nav-link {{link_active_palvelut}}" href="/palvelut">Palvelut</a>
        <a class="nav-link {{link_active_hinnasto}}" href="/hinnasto">Hinnasto</a>
        <a class="nav-link {{link_active_yhteystiedot}}" href="/yhteystiedot">Yhteystiedot</a>
      </nav>
    </div>
  </header>
